{{#if handleProds.isValid}}
<div>
  {{#each handleProds}}
    <div>
      <h4>{{this.title}}</h4>
      <p>Precio: {{this.price}}</p>
      <p>Stock Disponible: {{this.stock}}</p>
      <p>Categoria: {{this.category}}</p>
    </div>
  {{/each}}
</div>
{{else}}
<p>No hay productos disponibles</p>
{{/if}}
